
<div class="container">
  <h2>This is Cocktail Details Page</h2>
  <h3> <%= @cocktail.name %></h3>

  <ul>
    <% @cocktail.doses.each do |dose| %>
      <li>
        <strong>Ingredient: </strong> <%= dose.ingredient.name %>,
       <strong> Quantity: </strong><%= dose.description %>
      </li>
    <% end %>
  </ul>

<% if @cocktail.photos? %>
  <div class="card"
  style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)),
         url('<%= cl_image_path @cocktail.photos.first.path, height: 300, width: 400, crop: :fill %>')">
<% else %>
  <div class="card"
  style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2))">
<% end %>
  <div class="card-category">Popular</div>

  <div class="card-description">
    <h2>Some stuff</h2>
    <p>Very cool stuff, useful and smart</p>
  </div>
  <a class="card-link" href="#" ></a>
</div>


<div class="container">
  <%= simple_form_for [@cocktail, @dose] do |f| %>

 <div class="form-inputs">
    <%= f.input :description %>
    </div>
  <div class="form-inputs">
    <%= f.association :ingredient %>
    </div>
  <div class="form-inputs">
    <%= f.submit "add a dose", class: "btn btn-primary" %>
    </div>
  <% end %>
</div>

<br>

<% @cocktail.photos.each do |photo| %>
  <%= cl_image_tag photo.path, width: 300, height: 200, crop: :fill %>
<% end %>



<button type="button" class="btn btn-primary">
  <%= link_to "Back", cocktails_path %>
</button>
<button type="button" class="btn btn-primary">
  <%= link_to "Edit", edit_cocktail_path(@cocktail) %>
</button>
<button type="button" class="btn btn-danger">
  <%= link_to "Delete", cocktail_path(@cocktail), method: :delete %>
</button>
<br><br>
</div>


